* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-image: url(./assets/mountains-universe-1.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;

    height: 100vh;

    font-family: 'Roboto', sans-serif;

    margin: 0 auto;
}

header {
    display: flex;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3.2rem;

    margin: 4.0rem;
}

header nav a {
    text-decoration: none;
    font-size: 2.4rem;
    line-height: 2.2rem;

    color: #fff;
}

header nav a:focus {
    font-weight: 900;
}

